@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
}

body {
  background: url("images/BackImg.png") no-repeat;
  background-size: 100%;
}

nav {
  width: 90%;
  margin: auto;
  display: flex;
  padding-top: 40px;
  align-items: center;
}

nav ul {
  display: flex;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 2em;
  font-family: "Sen", sans-serif;
  padding-left: 50px;
}

nav ul {
  display: flex;
  list-style: none;

  justify-content: space-between;
}

nav img {
  width: 50%;
}

#first {
  padding-left: 250px;
  color: #4b5e0e;
}

#second {
  padding-right: 145px;
}

.mainH1 p {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 63pt;
}

#greenText {
  color: #8eb50b;
  background-color: white;
  display: inline-block;
  align-items: center;
  margin-left: 35%;
  padding: 10px 60px;
  border-radius: 20px;
}

.firstMain {
  margin-top: 121px;
}

.midMain {
  margin-top: 75px;
  margin-left: 360px;
}

#ilk {
  margin-left: 25px;
}

.order {
  color: white;
  background-color: #8eb50b;
  display: inline-block;
  padding: 22px 80px;
  font-size: 20pt;
  border-radius: 5px;
  margin-left: 800px;
  margin-top: 40px;
}


